<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Does Inmuebles</title>
<link href="resources/css/default_style.css" rel="stylesheet" type="text/css">
</head>

<body class="fixbody">
<header>
<div class="header" id="header">
  <div class="header_logo" id="header_logo">
    <p><img src="resources/images/does_single.png" alt="does_header" name="logo" width="196" height="125" class="logo" id="logo"></p>
  </div>
  <div class="header_menu" id="menu">
    <ul>
      <li><a href="index.html" class="selected">Inicio</a></li>
      <li><a href="services.html">Servicios</a></li>
      <li><a href="contactus.html">Contacto</a></li>
      <li><a href="aboutus.html">Acerca de DOES</a></li>
    </ul>
  </div>
</div>
<div class="sub-menu" id="sub-menu"></div>
</header>
<section>
Content Here please!
</section>
<footer>
<div id="footer">
<p>Does Inmuebles, 2013 &#169;</p>
<p>Centro Comercial San Cristobal, local 27, 3 calle 18-72 Zona 8, Mixco boulevard principal, contiguo a iglesia mormona</p>
<p>teléfono (502) 2478-1045, (502) 5888-6848, (502) 4083-8951</p>
<p>email: ventas@doesinmuebles.com</p>
</div>
</footer>
</body>
</html>
