<%= render 'servicios/header_option' %>
<h1>Construcciones</h1>

<div class="nav_section">
  <h3>Ubicación</h3>
  <ul>
    <li><%= link_to 'Mixco', '#' %></li>
  </ul>
</div>

<div class="subseccion">
  <table style='width: 100%; border: 1px solid;' rules="all">
    <th style='width: 50%;'>Dirección</th>
    <th style='width: 20%;'>Dimensiones</th>
    <th style='width: 15%;'>Galeria</th>
    <th style='width: 15%;'>Mapa</th>
    <tr>
      <td>
        Lotes en SECTOR A-4 LOMA REAL II
      </td>
      <td>
        8mts x 14mts
      </td>
      <td>
        <%= link_to 'imagenes', '#' %>
      </td>
      <td>
        <%= link_to image_tag('google-map-icon.jpg', alt: 'Ver Mapa', size: '30x23'), 'https://maps.google.com/maps/ms?msid=206309897415733935074.00044cbb1b59ed966f70f&msa=0&ll=14.656607,-90.51375&spn=0.006186,0.008111', target: '_blank' %>
      </td>
    </tr>
  </table>
</div>

