<%= render 'does_info/header_option' %>
<h1>Nuestra politica de Calidad</h1>
<% @calidad.each do |polica| %>
  <section>
    <h3><%= polica['tipo'].capitalize %></h3>
    <% parafos = polica['descripcion'].split('\n') %>
    <ul>
    <% parafos.each do |parafo| %>
      <li><%= parafo %></li>
    <% end %>
    </ul>
  </section>
<% end %>
