<%= render 'does_info/header_option' %>
<h1>Ques es DOES?</h1>
<h3>Breve Historia</h3>
<p>DOES,  como SOCIEDAD ANONIMA  fue constituída  en  el año ( )        por profesionales  con más de 35 años de experiencia en el mercado inmobiliario, participando  en el desarrollo , promoción y venta de importantes  lotificaciones  en Guatemala.</p>
