@charset "UTF-8";
/* CSS Document */
/*
rgba(174, 209, 55, 0.3)
*/

.header_logo {
	margin: 0;
	top: 9px;
	right: -25px;
	padding: 0;
	height: 125px;
	width: 196px;
	position: relative;
	float: left;
}
.header {
	background-color: #F60;
	height: 150px;
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	top: 0;
	right: 0;
	overflow: visible;
	display: block;
}
.logo {
	position: relative;
	margin: 0;
	padding: 0;
	height: 125px;
	width: 196px;
	visibility: visible;
}
#menu {
	margin: 0;
	display: inherit;
	position: relative;
	bottom: -118px;
	left: -15px;
	height: 32px;
	width: 460px;
	font-size: 1em;
	text-align: center;
	vertical-align: middle;
	letter-spacing: -0.1em;
	font-weight: bold;
	float: right;
	padding: 0;
	overflow: visible;
	z-index: 100;
}
#menu a {
	font-size: 1em;
	font-weight: bold;
	font-variant: small-caps;
	color: #14783C;
	text-decoration: none;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
	width: 111px;
	display: block;
	margin: 0;
	padding-top: 10px;
	height: 21px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FC6500;
	border-right-color: #FC6500;
	border-left-color: #FC6500;
	overflow: visible;
	border-bottom-color: #14783F;
	z-index: 100;
}

#menu a:hover {
	color: #AFD23A;
	overflow: visible;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-left-style: dotted;
	border-top-color: #AFD23A;
	border-right-color: #AFD23A;
	border-left-color: #AFD23A;
	border-bottom-color: #14783F;
}

#menu ul li {
	float: left;
	overflow: visible;
}
#menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: visible;
}

.sub-menu {
	margin: 0;
	padding: 0;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #14783F;
	border-right-color: #14783F;
	border-bottom-color: #14783F;
	border-left-color: #14783F;
	height: 35px;
	width: 100%;
}

#sub-menu-opts {
    text-align: center;
    float: right;
	padding: 0;
	vertical-align: middle;
    margin-left: auto;
    margin-right: 0;
}

.sub-menu, .selected, #menu .selected {
	background-color: #FD7211;
    /*color: #AFD23A;*/
}

.selected {
	overflow: visible;
	z-index: 100;
	height: 20px;
	/*background-color: #FD7211;*/
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #14793B;
	border-right-color: #14793B;
	border-bottom-color: #0033FF;
	border-left-color: #14793B;
}

#sub-menu-opts a {
    color: #AFD23A;
    font-size: 0.8em;
    font-weight: bold;
    font-variant: small-caps;
    text-decoration: none;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
    width: 150px;
    display: block;
    margin: 0;
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    overflow: visible;
}

#sub-menu-opts a:hover {
    color: #14783C;
    overflow: visible;
}

#sub-menu-opts ul li {
    float: left;
    overflow: visible;
}
#sub-menu-opts ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: visible;
}



.fixbody {
	margin: 0;
	padding: 0;
}
#footer {
	background-color: lightgray;
	text-align: center;
	margin: 0;
	padding: 0;
    height: 150px;
}
#footer p {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	vertical-align: middle;
	margin: 0;
	padding: 5px;
	color: #14783F;
	font-weight: bold;
}

/* Contenido principal para cada pagina */

.content {
    min-height: 500px;
    overflow: scroll;
    margin: 25px;
}

/* about us */

#personal {
    border: 1px solid darkgreen;
    margin: 25px 25px 25px 25px;
    background-color: rgba(156, 201, 42, 0.1);
}

#personal ul {
    padding: 25px;
    margin: 25px;
    display: block;
}

#personal ul li {
    border-left: 1px solid darkgreen;
    margin: 0;
    margin-bottom: 25px;
    padding: 10px;
    display: block;
}

#personal ul li div, #personal ul li div p, #personal ul li div h3 {
    margin: 0;
    padding: 0;
}

#personal ul li div h3 {
    text-decoration: underline;
    font-variant: small-caps;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 1.1em;
}

.nombre_persona {
    font-size: 1.2em;
    font-weight: bolder;
    font-style: italic;
    font-variant: small-caps;
    text-decoration: none;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.cargo_persona {
    font-size: 0.7em;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
    text-decoration: none;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.telefono_persona {
    font-size: 0.8em;
    font-weight: bold;
    font-variant: small-caps;
    text-decoration: none;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.email_persona {
    font-size: 0.8em;
    font-weight: lighter;
    text-decoration: none;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* navegacion en servicios */
.nav_section {
    border: 1px solid darkgreen;
    margin: 25px 25px 25px 0;
    background-color: rgba(156, 201, 42, 0.1);
    float: left;
    width: 150px;
    height: 100%;
}

.subseccion {
    border: 1px solid darkgreen;
    margin: 25px 25px 25px 25px;
    background-color: rgba(156, 201, 42, 0.1);
    float: left;
    width: 60%;
    height: 100%;
}

.subseccion table td {
    border: 1px solid darkgreen;
    text-align: center;
}