<footer>
  <div id="footer">
    <p>Does Inmuebles, 2013 &#169;</p>
    <p>Centro Comercial San Cristobal, local 27, 3 calle 18-72 Zona 8, Mixco boulevard principal, contiguo a iglesia mormona</p>
    <p>teléfono (502) 2478-1045, (502) 5888-6848, (502) 4083-8951</p>
    <p>email: ventas@doesinmuebles.com</p>
  </div>
</footer>
